.about {
  background-color: rgba($color: $color-primary, $alpha: 0.25);

  &__content {
    
    column-count: 2;
    column-gap: 40px;
    
    @media (max-width: 600px) {
      column-count: 1;
    }

    h3 {
      color: $color-dark;
    }

    div {
      -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
    }

  }
}