.contact {


  background-color: rgba($color: $color-primary, $alpha: 0.25);

  &__grid {
    display: flex;
    @media(max-width: $bp-medium) {
      flex-direction: column;

    }
  }

  &__left {
    flex: 0 1 367px;
    margin-bottom: 20px;
    @media(max-width: $bp-medium) {
      flex: auto;

    }

    h3 {
      color: $color-dark;
      font-size: 16px;
    }

  }

  &__right {
    flex: 0 1 733px;

    @media(max-width: $bp-medium) {
      flex: auto;

    }

  }

  &__form {


    input,
    label,
    textarea {
      display: block;
      width: 100%;
    }
    label {
      font-size: 20px;
      font-family: $font-family-bold;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 20px;
      @media(max-width: $bp-small) {
        font-size: 16px;
        margin-bottom: 8px;
      }
    }
    input,
    textarea {
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      height: 50px;
      border: 1px solid $color-primary;
      margin-bottom: 20px;
      padding: 15px;

      &:focus {
        outline: none;
      }
    }
    textarea {
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      height: 250px;
      margin-bottom: 15px;
      @media(max-width: $bp-small) {
        height: 200px;
      }
    }
  }
}