.quote {


  background-color: $color-primary;
  padding: 60px 0;

  &__heading {
    font-size: 30px;
    font-family: $font-family-bold;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: 1.4em;

    @media (max-width: $bp-small) {
      font-size: 20px;
    }
  }

  &__name {
    text-transform: uppercase;
    font-family: $font-family;
    font-size: 16px;
    letter-spacing: .1em;
    display: block;
    @media (max-width: $bp-small) {
      font-size: 14px;
    }
  }
}