.quote {


  background-color: $color-primary;
  padding: 60px 0;

  &__heading {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: 1.4em;

    @media (max-width: $bp-small) {
      font-size: 20px;
    }
  }
}