.technology {

  &__top {
    display: flex;
    margin-bottom: 60px;
   // flex-wrap: wrap-reverse;
    @media (max-width: $bp-medium) {
      flex-direction: column-reverse;
      margin-bottom: 0;
    }
  }

  &__top-left {
    flex: 0 1 470px;
    padding-right: 56px;
    @media (max-width: $bp-medium) {
      flex: auto;
      padding: 20px 0;
    }

  }

  &__top-right {
    flex: 0 1 618px;
    @media (max-width: $bp-medium) {
      flex: auto;
      height: 250px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  &__items {


  }

  &__item {
    display: flex;
    @media (max-width: $bp-small) {
      flex-direction: column;
    }
  }

  &__item-img {
    flex: 0 1 470px;
    padding-right: 56px;
    img {
      width: 100%;
      
      
    }
    @media (max-width: $bp-medium) {
      padding-right: 15px;
    }
    @media (max-width: $bp-small) {
      flex: auto;
      padding: 0 50px 20px 50px;
    }

  }

  &__item-ctn {
    flex: 0 1 618px;
    @media (max-width: $bp-medium) {
      
      padding-left: 25px;
    }


    @media (max-width: $bp-small) {
      flex: auto;
      padding-left: 0;
    }
    p {
      margin-bottom: .3em;
    }

  }
  &__line {
    border: 0;
    height: 4px;
    background-color: $color-secondary;
    margin-bottom: 30px;
    margin-top: 30px;
  }  

}